---
http_interactions:
- request:
    method: get
    uri: https://www.tenarms.net/api/dashboards/T5JK51
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"lifts":[{"activity":"StrictPress","measure":{"value":5,"type":"Reps"},"resistance":{"value":40.0,"type":"Kilos"},"timestamp":"2013-11-14"},{"activity":"PushPress","measure":{"value":1,"type":"Reps"},"resistance":{"value":132.2270050048828,"type":"Pounds"},"timestamp":"2013-10-14"},{"activity":"PushJerk","measure":{"value":1,"type":"Reps"},"resistance":{"value":60.0,"type":"Kilos"},"timestamp":"2013-10-18"},{"activity":"PowerClean","measure":{"value":1,"type":"Reps"},"resistance":{"value":82.5,"type":"Kilos"},"timestamp":"2013-12-17"},{"activity":"Clean","measure":{"value":1,"type":"Reps"},"resistance":{"value":60.0,"type":"Kilos"},"timestamp":"2013-11-12"},{"activity":"Snatch","measure":{"value":1,"type":"Reps"},"resistance":{"value":45.0,"type":"Kilos"},"timestamp":"2013-11-11"},{"activity":"BenchPress","measure":{"value":1,"type":"Reps"},"resistance":{"value":80.0,"type":"Kilos"},"timestamp":"2013-11-13"},{"activity":"OverheadSquat","measure":{"value":1,"type":"Reps"},"resistance":{"value":45.0,"type":"Kilos"},"timestamp":"2013-11-08"},{"activity":"FrontSquat","measure":{"value":3,"type":"Reps"},"resistance":{"value":85.0,"type":"Kilos"},"timestamp":"2013-12-31"},{"activity":"BackSquat","measure":{"value":1,"type":"Reps"},"resistance":{"value":100.0,"type":"Kilos"},"timestamp":"2013-11-15"},{"activity":"Deadlift","measure":{"value":1,"type":"Reps"},"resistance":{"value":152.5,"type":"Kilos"},"timestamp":"2013-10-19"}],"workouts":[{"workout":{"type":"sequence","sets":[{"activity":"PushPress","type":"set","measure":{"value":3,"type":"Reps"},"resistance":{"value":110.23100280761719,"type":"Pounds"}},{"activity":"PushPress","type":"set","measure":{"value":3,"type":"Reps"},"resistance":{"value":110.23100280761719,"type":"Pounds"}},{"activity":"PushPress","type":"set","measure":{"value":1,"type":"Reps"},"resistance":{"value":121.25399780273438,"type":"Pounds"}},{"activity":"PushPress","type":"set","measure":{"value":1,"type":"Reps"},"resistance":{"value":132.2270050048828,"type":"Pounds"}},{"activity":"PushPress","type":"set","measure":{"value":5,"type":"Reps"},"resistance":{"value":99.20800018310547,"type":"Pounds"}},{"set":{"type":"rounds","rounds":4,"sets":[{"activity":"Clean","type":"set","measure":{"value":5,"type":"Reps"},"resistance":{"value":110.23100280761719,"type":"Pounds"}},{"activity":"DoubleUnder","type":"set","measure":{"value":25,"type":"Reps"},"resistance":{"type":"NoResistance"}},{"activity":"Run","type":"set","measure":{"value":400,"type":"Metres"},"resistance":{"type":"NoResistance"}},{"activity":"Rest","type":"set","measure":{"value":60,"type":"Seconds"},"resistance":{"type":"NoResistance"}}]},"type":"fortime"}]},"result":null,"userId":"T5JK51","id":"3HZ2","comment":null,"timestamp":"2013-10-14"},{"workout":{"type":"sequence","sets":[{"activity":"FrontSquat","type":"set","measure":{"value":2,"type":"Reps"},"resistance":{"value":70.0,"type":"Kilos"}},{"activity":"FrontSquat","type":"set","measure":{"value":2,"type":"Reps"},"resistance":{"value":80.0,"type":"Kilos"}},{"activity":"FrontSquat","type":"set","measure":{"value":2,"type":"Reps"},"resistance":{"value":80.0,"type":"Kilos"}},{"activity":"FrontSquat","type":"set","measure":{"value":2,"type":"Reps"},"re[...]
